/* Background voltado para o cinza claro */
.cadastro-container {
  background-color: #f0f0f0; /* Cinza claro */
  padding: 20px;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff; /* Branco */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
}

.titulo-cadastro {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

.botoes-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.botao-icone {
  text-align: center;
  margin: 0 20px;
}

.botao-icone a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.botao-icone i {
  font-size: 48px;
  margin-bottom: 10px;
}
