.user-list-container {
    background-color: #f2f2f2; 
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    margin: 50px auto;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.user-table tr.selected {
    background-color: #d3d3d3;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.home-button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: white;
}

.home-button {
    background-color: #008CBA; 
}

.home-button:hover {
    background-color: #005f87;
}

.add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.edit-button {
    background-color: #FFEB3B;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
